.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: #f6f6f6;
    z-index: 1;
    border-radius: 2px;
}
.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product > button {
    background: #F0C14B;
    border: 1px solid;
    margin-top: 10px;
    border-color: #A88734 #9C7E31 #846A29;
    color: #111;
}

.product > button:hover {
    background-color: #e7b84a;
    cursor: pointer;
    transform: scale(1.07);
}

.product__price {
    margin-top: 5px;
}
.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__rating {
    display: flex;
}

.product__image:hover {
    transform: scale(1.18);
}
